/*Hero Background */
.hero-bg {
  background: linear-gradient(
      rgba(26, 60, 52, 0.92),
      rgba(26, 60, 52, 0.92)
    ),
    url("/public/images/excavator2.jpg") center / cover no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.no-underline{
  text-decoration: none;
}